<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to web service of group 3 CNPM"</h1>
    <h1>Home Page Web Service Group 3 CNPM</h1>
    <div>
        <table border="1px">
            <tr>
                <td>
                    Sign up account default
                </td>
                <td>
                    /create-account-default
                </td>
            </tr>
            <tr>
                <td>
                    Sign up account with username and password and email
                </td>
                <td>
                    /create-account?username=...&password=...&email=...
                </td>
            </tr>
            </tr><tr>
                <td>
                    Delete Account by ID (replace {id} by number)
                </td>
                <td>
                    /delete-account/{id}
                </td>
            </tr>
            <tr>
                <td>
                    Get All List Account
                </td>
                <td>
                    /get-all-account
                </td>
            </tr>
        </table>
    </div>
    </br>
    <div>
        <table border="1px">
            <tr>
                <td>
                    Get course by ID
                </td>
                <td>
                    /get-course?id=...
                </td>
            </tr>
            <tr>
                <td>
                    Get all list course
                </td>
                <td>
                    /get-all-list-course
                </td>
            </tr>
            <tr>
                <td>
                    Get my list Course by ID Student
                </td>
                <td>
                    /my-list-course?id...  (id student)
                </td>
            </tr>
        </table>
    </div>
    </br>
    <div>
        <table border="1px">
            <tr>
                <td>
                    Get lesson by ID
                </td>
                <td>
                    /get-lesson?id=...
                </td>
            </tr>
            <tr>
                <td>
                    Get list lesson by ID Course
                </td>
                <td>
                    /get-list-lesson?id=...   (id course)
                </td>
            </tr>
            <tr>
                <td>
                    Get my list Lesson by ID Student
                </td>
                <td>
                    /my-list-lesson?id=...    (id student)
                </td>
            </tr>
        </table>
    </div>
</body>
</html>