<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to web service of group 3 CNPM"</h1>
    <h1>Home Page Web Service Group 3 CNPM</h1>
    <div>
        <table border="1px">
            <tr>
                <td>
                    Get Account By ID (replace ID by number)
                </td>
                <td>
                    /api/get-account/id
                </td>
            </tr>
            <tr>
                <td>
                    Get All List Account
                </td>
                <td>
                    /api/get-all-list-account/
                </td>
            </tr>
            <tr>
                <td>
                    Delete Account By ID (replace ID by number)
                </td>
                <td>
                    /api/delete-account/id
                </td>
            </tr>
            <tr>
                <td>
                    Create Account Default (test)
                </td>
                <td>
                    /api/create-account-default/
                </td>
            </tr>
            <tr>
                <td>
                    Create Account With Data
                </td>
                <td>
                    /api/create-account/username=.../password=.../email=...
                </td>
            </tr>
        </table>
    </div>
</body>
</html>